%tr
  %td= @position += 1
  %td= f.text_field :our_score, :size => 2, :value => f.object.our_display_score
  %td= f.text_field :their_score, :size => 2, :value => f.object.their_display_score
  %td= f.check_box :xed
  - unless f.object.new_record?
    %td= f.check_box '_destroy'
    %td= f.label '_destroy', t(".delete")
