%h1= t(:application_name)

- @matches.group_by{|m| m.time.try(:year)}.each do |year, matches|
  %h2= year
  - matches.each do |m|
    .match[m]
      .time>= l(m.time.to_date, :format => :short) if m.time
      .opponent= link_to(m.opponent, match_path(m))
      .tournament_location
        = [m.tournament, m.location].delete_if(&:blank?).join(", ")
      .score
        .our_score= m.our_score
        –
        .opponent_score= m.opponent_score

%br

= link_to 'New Match', new_match_path
