%h1= t(".show_match")


%p#notice= notice


.matchbox
  %p
    = link_to t(:edit), edit_match_path(@match)
    \|
    = link_to t(:back), matches_path
  %p
    %em
      = [@match.tournament, @match.location, @match.time ? l(@match.time, :format => :long) : nil].delete_if(&:blank?).join(", ")
    %h2
      Vs.
      = @match.opponent


  %table.lineup
    %caption= t(".lineups")
    %tr
      %th= t(".pos")
      %th= t(".us")
      %th= @match.opponent
    - %w(lead second third fourth alternate).each_with_index do |pos,i|
      %tr{:class => cycle('odd', 'even', :name => 'lineup')}
        %td= t("." + pos)
        %td
          = @match.send("our_" + pos)
          = "(S)" if @match.our_skip == (i+1)
          = "(V)" if @match.our_viceskip == (i+1)
        %td
          = @match.send("their_" + pos)
          = "(S)" if @match.their_skip == (i+1)
          = "(V)" if @match.their_viceskip == (i+1)


  - if @match.ends.any?
    %table.scorecard
      %caption= t(".results")
      %colgroup
        %col{:span => 2}
      %colgroup
        %col{:span => @match.ends.size}
      %colgroup#sum
        %col

      %tr
        %th
        %th
        - (1..(@match.ends.size)).to_a.each do |s|
          %th= link_to "#{End.model_name.human} #{s}", match_end_path(@match, @match.ends.at(s-1))
        %th Sum
      - @match.scorecard.each do |line|
        %tr{:class => cycle('odd', 'even', :name => "outer")}
          %td.team= cycle(t(".us"), @match.opponent)
          %td.hammer= "⚒" if line.shift
          - line.each do |cell|
            %td.scorecell= cell
  - else
    %p 
      = t(".no_results_yet")
      = link_to t(".add_results"), edit_match_path(@match)

  - if @our_stats.any?
    / When a1.zip(a2) does not work for us when a2 > a1.
    - until @our_stats.length >= @their_stats.length
      - @our_stats << [nil] * 6
    %table.stats
      %colgroup
        %col
      %colgroup
        %col{:span => 2}
      %colgroup
        %col{:span => 2}
      %colgroup
        %col
      %colgroup
        %col
      %colgroup
        %col{:span => 2}
      %colgroup
        %col{:span => 2}
      %colgroup
        %col
      %caption= t(".stats")
      %tr
        %th
        %th{:colspan=>2}= t(".draws")
        %th{:colspan=>2}= t(".takeouts")
        %th= t(".total")
        %th
        %th{:colspan=>2}= t(".draws")
        %th{:colspan=>2}= t(".takeouts")
        %th= t(".total")
      - reset_cycle
      - @our_stats.zip(@their_stats).each do |row|
        %tr{:class => cycle('odd', 'even')}
          - row.each do |stat|
            - stat = Array.new(6, nil) if stat.nil? 
            %td= stat[0]
            %td= stat[1] ? "%d %%" % stat[1].to_i : ""
            %td= stat[2] ? stat[2].to_i : ""
            %td= stat[3] ? "%d %%" % stat[3].to_i : ""
            %td= stat[4] ? stat[4].to_i : ""
            %td= stat[5] ? "%d %%" % stat[5].to_i : ""

  - unless @match.bambuser_id.blank?
    %h3 Video
    %iframe.matchvideo{src: "http://embed.bambuser.com/broadcast/%s" % @match.bambuser_id, width: 460, height: 396, frameborder:0}
      Your browser does not support iframes
